@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: 60, 60, 60;
    --color-secondary: 230, 108, 44;
    --color-background: 30, 30, 30;
}

@layer components {
    .heroButton {
        @apply px-6 py-2 mx-1 border border-[#252525] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-[#e66c2c]/40 hover:text-[#e66c2c]/60;
    }
}
